<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{app.request.getbaseurl}}/assets/css/styles.css">
        <title>Hair Salon Manager</title>
    <body>
        <div class="container">
            <header>
                <h1>Hair Salon Manager</h1>
            </header>

            <div id="add_stylists" class="well">
                <form action="/stylists" method="post">
                    <h3>Enter a New Stylist!</h3>
                    <div class="form-group">
                        <label for="stylist_name">Stylist Name</label><br>
                        <input class="form-control" id="stylist_name" type="text" name="stylist_name" required>
                    </div>
                    <div class="form-group">
                        <label for="stylist_phone_number">Phone Number</label><br>
                        <input class="form-control" id="stylist_phone_number" type="text" name="stylist_phone_number">
                    </div>
                    <div class="form-group">
                        <label for="workdays">Days They Can Work</label><br>
                        <input class="form-control" id="workdays" type="text" name="workdays">
                    </div>
                    <div class="button">
                        <button class="btn" type="submit">Add a Stylist!</button>
                    </div>
                </form>
            </div>

            <div id="list_of_stylists">
                {% if stylists is not empty %}
                    <p>List of Stylists:</p>
                        {% for stylist in stylists %}
                        <h4><strong><a href="/stylist/{{stylist.getId}}">{{ stylist.getName }}</a></strong>({{ stylist.getPhoneNumber }} // {{ stylist.getWorkdays }})</h4>
                    {% endfor %}
                {% else %}
                    <br>
                    <p>Add Some Stylists!</p>
                {% endif %}

                <br>
                <form action="/delete_stylists" method="post">
                    <button class="btn" type="submit">Delete All Stylists</button>
                </form>
                <br>
            </div>
        </div>

    </body>
</html>
