<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{app.request.getbaseurl}}/assets/css/styles.css">
        <title>Hair Salon Manager</title>
    </head>
    <body>
        <div class="container">

            <header>
                <h1>Hair Salon Manager</h1>
            </header>

            <h4 class="back_link">Go back to <a href="/">Add a Stylist</a> Page</h4>

            <div class="row">
                <div class="col-md-7">
                    <div id="add_clients" class="well">
                        <form action="/clients" method="post">
                            <input id="stylist_id" name="stylist_id" type="hidden" value="{{ stylist.getId() }}">
                            <div class="form-group">
                                <label for="name">Client Name</label><br>
                                <input class="form-control" id="name" type="text" name="name" required>
                            </div>
                            <div class="form-group">
                                <label for="phone_number">Client Phone Number</label><br>
                                <input class="form-control" id="phone_number" type="text" name="phone_number" placeholder="example - 5552347658">
                            </div>
                            <div id="add_client_button">
                                <button class="btn btn-info" type="submit">Add a Client!</button>
                            </div>
                        </form>
                        <div id="delete_all_clients">
                            <form action="/delete_clients" method="post">
                                <button class="btn" type="submit">Delete All Clients</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-md-5">
                    <div id="stylist_client_list"class="well">
                        <h3><strong><em>{{ stylist.getName }}</em></strong></h3>
                        <h5>{{ stylist.getPhoneNumber }}</h5>
                        <h4>avaialable {{ stylist.getWorkdays }}</h4>
                        -
                        {% if clients is not empty %}
                        <h5>Current Clients:</h5>
                        {% for client in clients %}
                        <h4>{{ client.getName }}</h4>
                        <h5>{{ client.getPhoneNumber }}</h5>
                        <h5><a href="/client/{{ client.getId }}/edit">Edit this listing</a></h5>
                        <form action="/client/{{ client.getId }}" method="post">
                            <input name="_method" type="hidden" value="delete">
                            <button class="btn btn-sm"type="submit">Delete Client</button>
                        </form>
                        <br>
                        {% endfor %}
                        {% else %}
                        <h4>Add Clients</h4>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>
